<!DOCTYPE html>
<html>

<head>
	<title>Admin tools - WhirlAid</title>
  <style>
    body {
      background-color: #87CEEB;
    }
    ul {
      list-style-type: none;
      padding: 0;
      border: 1px solid #ddd
    }
    ul li {
      padding: 8px 16px;
      border-bottom: 1px solid #ddd
    }
    ul li:last-child {
      border-bottom: none
    }
  </style>
</head>

<body>
	<nav>
		<ul>
			<li><a href="./add_hospital">ADD HOSPITAL</a></li>
			<li><a href="#" class="active">ADD DOCTOR</a></li>
		</ul>
	</nav>
	<h2>Add doctor</h4>
		<form>
			<input type="text" id="speciality" name="speciality" placeholder="Speciality:"><br></br>
      <input type="text" id="name/surname" name="name/surname" placeholder="Name/Surname:"><br></br>
      <input type="text" id="working_time" name="working_time" placeholder="Working time:"><br></br>
        <button type="button">Add</button>
      </form
      
    </body>
</html>