<!DOCTYPE html>
<html>

<head>
	<title>Admin tools - WhirlAid</title>
  <style>
    body {
      background-color: #87CEEB;
    }
    ul {
      list-style-type: none;
      padding: 0;
      border: 1px solid #ddd
    }
    ul li {
      padding: 8px 16px;
      border-bottom: 1px solid #ddd
    }
    ul li:last-child {
      border-bottom: none
    }

  </style>
</head>

<body>
	<nav>
		<ul>
			<li><a href="#" class="active">ADD HOSPITAL</a></li>
			<li><a href="./add_doctor">ADD DOCTOR</a></li>
		</ul>
	</nav>
	<h2>Add hospital</h4>
		<form>
			<input type="text" id="title" name="title" placeholder="Title:"><br></br>
      <input type="text" id="address" name="address" placeholder="Address:"><br></br>
        <button type="button">Add</button>
      </form>

      <div id="hospital">
      </div>

      <script src="JS/app.js"></script
    </body>
</html>